<!-- HEADER -->

<div class="navbar">
  <div class="navbar-menu">
    <ul>
    <li><a class="navbar-items" routerLink="/">Početna</a></li>
  <li><a class="navbar-items" routerLink="/gallery">Galerija</a></li>
  <li><a class="navbar-items" routerLink="/table">Tabela</a></li>
  <li><a class="navbar-items" routerLink="/contact">Kontakt</a></li>
</ul>
   </div>
    <!-- LOGO -->
    
  <div class="navbar-brand">
      <a class="navbar-item" [routerLink]="['/']">
      <img class="logo" src="assets/logo.png">
    </a>
  </div>
    <!-- MENU -->
    
</div>
