.title {
    text-align: center;
    font-size: 48px;
    margin-top: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 8px gray;
}

.hero {
    height: 100%;
    margin: 0;
    padding: 0;

}

.container form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 40px;
}

input[type=text], [type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  button[type=submit] {
    background-color: gray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: rgb(189, 175, 175);
  }