.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.example-full-width {
  width: 100%;
}

.container {
  height: 500px;
}

.container p {
  text-align: center;
    font-size: 48px;
    margin: 40px 0;
    font-weight: bold;
    text-shadow: 2px 2px 8px gray;
}