
<section class="contact">
<div class="container">
<p>Kontaktirajte nas! </p>
<form class="example-form">
    <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Ime</mat-label>
        <input matInput>
      </mat-form-field></td>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl"  placeholder="Ex. pat@example.com">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Molimo Vas unesite validnu e-mail adresu
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email je <strong>obavezan</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Poruka</mat-label>
        <input matInput #message maxlength="256" placeholder="Imam pitanje u vezi...">
        <mat-hint align="start"><strong>Nemojte otkrivati lične podatke</strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      </mat-form-field>
  </form>

  </div>
</section>